@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------------- */

.bg_color {
    background-color: darkcyan;
    /* color: white;
    text-align: center;
    font-size: 4rem; */
}


/* Jugando con la Personalización de TailwindCSS */

.btn {
    @apply px-4;
    @apply py-2;
    @apply font-bold;
    @apply rounded;
}

.btn-info {
    @apply text-white;
    @apply bg-blue-200;
}

.btn-info:hover {
    @apply bg-blue-400;
}